<!--
 Mbed Cloud Quickstart
 Copyright ARM Limited 2017

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE html>
<html>
<head>
    <title>Pelion Device Management Quickstart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body class="arm-white">

    <div class="container">

        <div class="row title">
            <div class="ten columns">
                <h3>Mbed Cloud Quickstart</h3>
            </div>
        </div>

        <table class="u-full-width" id="connect">

            {{#each devices}}
            <tr><td>

                <h4 id="header">{{id}}</h4>

                <div class="row" id={{id}}>

                    <div class="six columns">
                        <h5>Presses: <span id="{{id}}-presses">Unknown</span></h5>
                        <label for="{{id}}-subscribePresses">Subscribe
                        <input type="checkbox" id="{{id}}-subscribePresses" onclick="subscribePresses(this)"></label>
                        <button id="{{id}}-getPresses" onclick="getPresses(this)">Get presses (GET)</button>
                        
                        <h5>Distance: <span id="{{id}}-distance">Unknown</span> [mm]</h5>
                        <label for="{{id}}-subscribePresses">Subscribe
                        <input type="checkbox" id="{{id}}-subscribeDistance" onclick="subscribeDistance(this)"></label>
                        <button id="{{id}}-getDistance" onclick="getDistance(this)">Get distance (GET)</button>

                        <h5>Temperature: <span id="{{id}}-temperature">Unknown</span> [&deg;C]</h5>
                        <label for="{{id}}-subscribeTemperature">Subscribe
                        <input type="checkbox" id="{{id}}-subscribeTemperature" onclick="subscribeTemperature(this)"></label>
                        <button id="{{id}}-getTemperature" onclick="getTemperature(this)">Get temperature (GET)</button>

                        <h5>Humidity: <span id="{{id}}-humidity">Unknown</span> [%]</h5>
                        <label for="{{id}}-subscribeHumidity">Subscribe
                        <input type="checkbox" id="{{id}}-subscribeHumidity" onclick="subscribeHumidity(this)"></label>
                        <button id="{{id}}-getHumidity" onclick="getHumidity(this)">Get humidity (GET)</button>
                    </div>

                    <div class="six columns">
                        <h5>LED blink pattern</h5>
                        <label for="{{id}}-blinkPattern">Pattern
                        <input type="text" placeholder="500:500:500:500" id="{{id}}-blinkPattern" class="u-full-width"></label>
                        <button id="{{id}}-updatePattern" onclick="updateBlinkPattern(this)">Update (PUT)</button>
                        <button id="{{id}}-blink" class="arm-orange" onclick="blink(this)">Blink (POST)</button>
                    </div>

                </div>

            </td></tr>
            {{else}}

            <h2>No devices found</h2>

        {{/each}}
        </table>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>
    var socket = io();

    function getPresses(element) {
        socket.emit('get-presses', {
            device: element.parentElement.parentElement.id
        });
    }

    function subscribePresses(element) {
        var verb = element.checked ? 'subscribe-to-presses' : 'unsubscribe-to-presses';
        socket.emit(verb, {
            device: element.parentElement.parentElement.parentElement.id
        });
    }

    function getDistance(element) {
        socket.emit('get-distance', {
            device: element.parentElement.parentElement.id
        });
    }

    function subscribeDistance(element) {
        var verb = element.checked ? 'subscribe-to-distance' : 'unsubscribe-to-distance';
        socket.emit(verb, {
            device: element.parentElement.parentElement.parentElement.id
        });
    }

    function getTemperature(element) {
        socket.emit('get-temperature', {
            device: element.parentElement.parentElement.id
        });
    }

    function subscribeTemperature(element) {
        var verb = element.checked ? 'subscribe-to-temperature' : 'unsubscribe-to-temperature';
        socket.emit(verb, {
            device: element.parentElement.parentElement.parentElement.id
        });
    }

    function getHumidity(element) {
        socket.emit('get-humidity', {
            device: element.parentElement.parentElement.id
        });
    }

    function subscribeHumidity(element) {
        var verb = element.checked ? 'subscribe-to-humidity' : 'unsubscribe-to-humidity';
        socket.emit(verb, {
            device: element.parentElement.parentElement.parentElement.id
        });
    }


    function updateBlinkPattern(element) {
        var deviceID = element.parentElement.parentElement.id;
        socket.emit('update-blink-pattern', {
            device: deviceID,
            blinkPattern: document.getElementById(deviceID + "-blinkPattern").value
        });
    }

    function blink(element) {
        socket.emit('blink', {
            device: element.parentElement.parentElement.id
        });
    }

    socket.on('presses', function(data) {
        document.getElementById(data.device + "-presses").innerHTML = data.value;
    });

    socket.on('distance', function(data) {
        document.getElementById(data.device + "-distance").innerHTML = data.value;
    });

    socket.on('temperature', function(data) {
        document.getElementById(data.device + "-temperature").innerHTML = data.value;
    });

    socket.on('humidity', function(data) {
        document.getElementById(data.device + "-humidity").innerHTML = data.value;
    });


</script>
</body>
</html>
